[Desktop Entry]
Name=Commander
Name[ch]=文件管理
Comment=Two-pane file manager
Comment[ch]=文件管理器英文版
Exec=commander
Icon=commander
Terminal=false
Type=Application
StartupNotify=true
Categories=applications;
X-OD-Manual=readme.anbernic.txt
